:root {
    --purple: rgb(55, 6, 245);
    --violet: rgb(12, 159, 243);
    --pink: rgb(149,208,247);
}





h1 {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;

}

h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
            to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple)

    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-size: 200%;

}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}